@import './_variables';

body {
    margin: 0;
    padding: 0;
    background: #f3f3f3;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 100px auto;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #333;
    font-size: 36px;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #444;
}

p {
    font-family: 'Roboto', sans-serif;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: #00acbf;
}

::selection {
    color: white;
    background: #00acbf;
}

.header {
    grid-row: 1;
    grid-column: 1/12;
    background: #f7f7f7;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-items: space-evenly;
    border-top: 3px solid $accent;
}

.header-nav {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.08em;
    margin: 16px;
}

.nav-left {
    margin-left: 6em;
    flex: 0;
}

.nav-cent {
    flex: 1;
}

.nav-right {
    margin-right: 6em;
    flex: 0;
}

.nav-logo-img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    transition: all .1s;
    &:hover {
        transform: scale(1.1);
    }
}

.nav-link {
    text-decoration: none;
    color: $header-text;
    justify-content: center;
    margin: 32px;
    transition: all .1s;
    border-bottom: 3px solid transparent;
    &:hover {
        border-bottom: 3px solid $accent;
    }
}

.nav-active {
    border-bottom: 3px solid $accent;
}

.nav-btn {
    background: $accent;
    border: none;
    border-radius: 100px;
    height: 36px;
    width: 102px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 0.08em;
    cursor: pointer;
    transition: all .1s;
    &:hover {
        transform: scale(1.1);
    }
}

.content {
    grid-row: 2;
    grid-column: 3/10;
}

.content-area {
    margin: 3em 8em;
}

.textarea {
    border-top: 3px solid $accent;
    line-height: 23px;
    font-size: 18px;
    color: #444;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.textarea-link {
    color: $accent;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.textarea-red {
    color: $accent;
}

.textarea-table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 97.5%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    th, td {
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }
    th {
        color: $header-text;
        letter-spacing: 0.08em;
        font-weight: 700;
        font-family: 'Raleway', sans-serif;
    }
    tr:hover {
        background-color: #ebebeb;
    }
}

.aboutwrapper {
    justify-content: center;
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 16px 14px;
    margin: auto;
}

.aboutimg {
    width: 150px;
}

.abouttl {
    display: flex;
    flex-flow: column;
    justify-items: center;
    padding: 8px 12px;
}

.namepos {
    margin: 8px;
    h3 {
        margin: 0;
        padding: 0;
    }
}

.aboutlabel {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    color: #555;
    font-weight: 800;
    letter-spacing: 0.08em;
}

.mail {
    padding: 8px 12px;
    .fa-envelope {
        color: #666;
    }
}

.social {
    padding: 8px 12px;
    display: flex;
}

.socialicon {
    font-size: 1.5em;
    color: #666;
    transition: all .1s;
    margin: 0 12px 0 0;
    &:hover {
        color: $accent;
        transform: scale(1.1);
    }
}

.possib-div {
    padding-bottom: 24px;
}

.footer {
    grid-row: 3;
    grid-column: 3/10;
    background: #f3f0f0;
    border-top: 1px solid #d8d8d8;
    display: flex;
    align-items: center;
    justify-items: center;
}

.img-round {
    border-radius: 50%;
}

.no-bpoints {
    list-style: none;
    padding: 0;
}

.no-padding {
    margin: 0;
    padding: 0;
}

.fa-li {
    color: #00ac56;
}

.tippy-tooltip.invis-theme {
    background-color: transparent;
}

.tippy-tooltip.invis-theme .tippy-roundarrow {
    fill: transparent;
}

.tippy-tooltip.light-theme {
    background-color: $accent;
    color: white;
}

.tippy-tooltip.light-theme .tippy-roundarrow {
    fill: $accent;
}